<div>
    <a routerLink="/add-task" class="btn btn-primary "> Add New Task</a>
</div>

<div *ngIf="tasksSer.tasks.length == 0">
    <p class='alert alert-primary'>
        There Is No Tasks
    </p>

</div>

<div *ngIf="tasksSer.tasks.length !== 0">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let task of tasksSer.tasks; index as i">
            <a [routerLink]="['/task',i]">
                {{task.title}}
            </a>
            <button class="btn btn-danger" (click)="deleteTask()">Delete</button>
        </li>
    </ul>
</div>